- name: Software Installation
  become: true
  ansible.builtin.apt:
    pkg:
    - ssmtp

- name: Configure ssmtp service
  become: true
  ansible.builtin.template:
    dest: /etc/ssmtp/ssmtp.conf
    src: ssmtp.conf.j2
    mode: '0644'

- name: Configure /etc/ssmtp/revaliases
  become: true
  ansible.builtin.lineinfile:
    path: /etc/ssmtp/revaliases
    create: yes
    line: "root:{{ inventory_hostname }}:mail.smtp2go.com:587"

- name: Crontab  Config
  become: true
  ansible.builtin.cron:
    env: "{{ item.env }}"
    name: "{{ item.name }}"
    job: "{{ item.job }}"

  with_items:
    - env: true
      name: MAILTO
      job: "{{ mail_to }}"
    - env: true
      name: MAILFROM
      job: "{{ inventory_hostname }}@epichouse.co.uk"
