- name: File Sharing - Software Installation
  become: true
  ansible.builtin.apt:
    pkg:
      - samba
      - nfs-kernel-server

- name: File Sharing - UFW Configuration
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
  with_items:
    - '445'
    - '111'
    - '2049'
  become: true
  when: ansible_facts['distribution'] == "Ubuntu"

- name: File Sharing - Copy Samba Configuration file
  copy:
    src: "{{ file_sharing.smb_config_path }}"
    dest: /etc/samba/smb.conf
    owner: root
    group: users
    mode: '0770'
  notify: Restart SMBD
  become: true
  when: file_sharing.smb_config_path is defined

- name: File Sharing - Copy NFS Exports file
  copy:
    src: "{{ file_sharing.nfs_config_path }}"
    dest: /etc/exports
    owner: root
    group: users
    mode: '0770'
  notify: Restart NFS
  become: true
  when: file_sharing.nfs_config_path is defined
