- name: Users - Add Unix Groups
  ansible.builtin.group:
    name: "{{ item.username }}"
    state: present
    gid: "{{ item.gid | default(item.uid) }}"
  with_items: "{{ user_configuration.users }}"
  become: true
  changed_when: false
  no_log: true

- name: Users - Add Unix Users
  ansible.builtin.user:
    name: "{{ item.username }}"
    comment: "{{ item.username }}"
    uid: "{{ item.uid }}"
    shell: /bin/bash
    group: "{{ item.username }}"
    password: "{{ item.password | password_hash('sha512') }}"
    append: true
    groups: users
  with_items: "{{ user_configuration.users }}"
  changed_when: false
  become: true
  no_log: true

- name: Users - Add Users to Users group
  ansible.builtin.user:
    name: "{{ item.username }}"
    groups: users
    append: true
  with_items: "{{ user_configuration.users }}"
  become: true
  no_log: true


- name: Users - shell - create samba users
  ansible.builtin.shell: >
    set -e -o pipefail
    && (pdbedit --user={{ item.username }} 2>&1 > /dev/null)
    || (echo '{{ item.password }}'; echo '{{ item.password }}')
    | smbpasswd -s -a {{ item.username }}
  args:
    executable: /bin/bash
  with_items: "{{ user_configuration.users }}"
  become: true
  no_log: true
  changed_when: false
  when: user_configuration.configure_samba

- name: Users - shell - set samba passwords correctly
  ansible.builtin.shell: >
    set -e -o pipefail
    && (smbclient -U {{ item.username }}%{{ item.password }} -L 127.0.0.1 2>&1 > /dev/null)
    || (echo '{{ item.password }}'; echo '{{ item.password }}')
    | smbpasswd {{ item.username }}
  args:
    executable: /bin/bash
  with_items: "{{ user_configuration.users }}"
  become: true
  no_log: true
  changed_when: false
  when: user_configuration.configure_samba


- name: SSH - Create Dir
  ansible.builtin.file:
    path: "/home/{{ item.username }}/.ssh"
    state: directory
    mode: '0700'
    owner: "{{ item.username }}"
    group: "{{ item.username }}"
  with_items: "{{ user_configuration.users }}"
  become: true

- name: SSH - Set Private Key
  ansible.builtin.copy:
    content: "{{ item.ssh_private_key }}"
    dest: "/home/{{ item.username }}/.ssh/id_rsa"
    mode: '0600'
    owner: "{{ item.username }}"
    group: "{{ item.username }}"
  become: true
  no_log: true
  with_items: "{{ user_configuration.users }}"
  when: item.ssh_private_key is defined

- name: SSH - Set Public Key
  ansible.builtin.copy:
    content: "{{ item.ssh_public_key }}"
    dest: "/home/{{ item.username }}/.ssh/id_rsa.pub"
    mode: '0644'
    owner: "{{ item.username }}"
    group: "{{ item.username }}"
  with_items: "{{ user_configuration.users }}"
  no_log: true
  when: item.ssh_public_key is defined
  become: true
