Server Function: {{ global_system_server_function }}
{% if ansible_facts['virtualization_role'] == "host" %}
Server Type: Physical Machine
{% endif %}
{% if ansible_facts['virtualization_role'] == "guest" and ansible_facts['virtualization_type'] == "kvm" %}
Server Type: Virtual Machine
{% endif %}
{% if ansible_facts['virtualization_role'] == "guest" and ansible_facts['virtualization_type'] == "lxc" %}
Server Type: LXC Container
{% endif %}
Server Location: {{ global_system_server_location }}
Server Deployment Type: {{ global_system_server_deployment_type }}
{% if inventory_hostname is search("prd") %}
Server Environment: Production
{% endif %}
{% if not inventory_hostname is search("prd") %}
Server Environment: Non Production
{% endif %}