Server Function: {{ global_system_server_function }}
Server Type: {{ server_type }}
Server Location: {{ global_system_server_location }}
Server Deployment Type: {{ global_system_server_deployment_type }}