PermitRootLogin yes
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*

{% if ansible_facts['os_family'] == "Debian" %}
Subsystem       sftp    /usr/lib/openssh/sftp-server
{% endif %}
{% if ansible_facts['os_family'] == "RedHat" %}
Subsystem       sftp    /usr/libexec/openssh/sftp-server
{% endif %}
