- name: Copy Installation Media
  ansible.builtin.copy:
    src: check-mk-agent_2.3.0p30-1_all.deb
    dest: /tmp
- name: Install Agent
  ansible.builtin.apt:
    deb: /tmp/check-mk-agent_2.3.0p30-1_all.deb
    state: present
