- name: UFW Configuration
  when: ansible_facts['distribution'] == "Ubuntu"
  block:
    - name: UFW | Enable and set default deny rule
      community.general.ufw:
        state: enabled
        policy: deny
    - name: UFW | Allow SSH
      community.general.ufw:
        rule: allow
        port: '22'
    - name: UFW | Allow CheckMK
      community.general.ufw:
        rule: allow
        port: '6556'
        src: "{{ item }}"
      with_items: "{{ global_system_checkmk_hosts }}"
      when: global_system_checkmk_hosts is defined

- name: Firewalld Configuration
  when: ansible_facts['os_family'] == "RedHat"
  block:
    - name: Firewalld | Allow SSH (tcp)
      ansible.posix.firewalld:
        port: 22/tcp
        permanent: true
        state: enabled
    - name: Firewalld | Allow SSH (udp)
      ansible.posix.firewalld:
        port: 22/udp
        permanent: true
        state: enabled
    - name: Firewalld | Allow CheckMK (tcp) # TODO: Add source IP for CheckMK Here
      ansible.posix.firewalld:
        port: 6556/tcp
        permanent: true
        state: enabled
    - name: Firewalld | Allow CheckMK (udp) # TODO: Add source IP for CheckMK Here
      ansible.posix.firewalld:
        port: 6556/udp
        permanent: true
        state: enabled
