- name: System Configuration Tasks
  tags: system
  become: true
  block:
    - name: APT Package Installation
      ansible.builtin.include_tasks: package_installation/packages_apt.yml
      when: enable_packages and ansible_facts['pkg_mgr'] == "apt"

    - name: DNF Package Installation
      ansible.builtin.include_tasks: package_installation/packages_dnf.yml
      when: enable_packages and ansible_facts['pkg_mgr'] == "dnf5"

    - name: CheckMK Agent Installation
      ansible.builtin.include_tasks: checmk_agent.yml
      when: enable_checkmk_agent_install

    - name: System SSH Config
      ansible.builtin.include_tasks: ssh.yml
      when: enable_ssh_config

    - name: Firewall Configuration
      ansible.builtin.include_tasks: firewall.yml
      when: enable_firewall_config

    - name: Misc Tasks
      ansible.builtin.include_tasks: misc.yml
      when: enable_misc_config
