- name: System Configuration Tasks
  tags: system
  become: true
  block:
    - name: APT Package Installation
      ansible.builtin.include_tasks: packages_apt.yml
      when: enable_packages and ansible_facts['pkg_mgr'] == "apt"

    - name: DNF Package Installation
      ansible.builtin.include_tasks: packages_dnf.yml
      when: enable_packages and ansible_facts['pkg_mgr'] == "dnf5"

    - name: Just Installation
      ansible.builtin.include_tasks: just.yml
      when: enable_packages and ansible_facts['pkg_mgr'] == "apt"

    - name: System SSH Config
      ansible.builtin.include_tasks: ssh.yml
      when: enable_ssh_config

    - name: Firewall Configuration
      ansible.builtin.include_tasks: firewall.yml
      when: enable_firewall_config

    - name: Environment Variable Config
      ansible.builtin.include_tasks: env.yml
      when: enable_env_config

    - name: MOTD Population
      ansible.builtin.include_tasks: motd.yml
      when: enable_motd_config

    - name: NAS NFS Configuration
      ansible.builtin.include_tasks: nfs_mounts.yml
      when: nfs is defined

    - name: Misc Tasks
      ansible.builtin.include_tasks: misc.yml
      when: enable_misc_config
