- name: DNF Packages | Prerequsits
  ansible.builtin.shell: dnf install python3-libdnf5 -y

- name: DNF Packages | Add EPEL Repository
  ansible.builtin.yum_repository:
    name: epel
    description: EPEL YUM repo
    baseurl: https://download.fedoraproject.org

- name: DNF Packages | Global Utility Installation
  ansible.builtin.dnf:
    pkg: "{{ system_packages.global + system_packages.dnf }}"

- name: DNF Packages | Server Specific Utility Installation
  ansible.builtin.dnf:
    pkg: "{{ global_system_server_packages | default('[]') }}"
  when: global_system_server_packages != []

- name: DNF Packages | Figurine Installation
  ansible.builtin.copy:
    src: figurine
    dest: /usr/local/bin/figurine
    mode: '0755'

- name: DNF Packages | CheckMK Agent Installation
  when: global_system_checkmk_install
  block:
    - name: CheckMK Agent | Copy Installation Media
      ansible.builtin.copy:
        src: check-mk-agent_2.3.0p30-1.noarch.rpm
        dest: /tmp
    - name: CheckMK Agent | Install Agent
      ansible.builtin.dnf:
        pkg: /tmp/check-mk-agent_2.3.0p30-1.noarch.rpm
        state: present
