- name: Check if Nagios is Installed
  ansible.builtin.stat:
    path: /usr/local/nagios/bin/nagios
  register: nagios_installed

- name: Check if Nagios plugins are Installed
  ansible.builtin.stat:
    path: /usr/local/nagios/libexec/check_icmp
  register: nagios_plugins_installed

- name: Include Package Installation
  ansible.builtin.include_tasks: package_installation.yml

- name: Include Nagios Installation
  ansible.builtin.include_tasks: nagios_installation.yml
  when: not nagios_installed.stat.exists

- name: Include Nagios Plugin Installation
  ansible.builtin.include_tasks: nagios_plugin_installation.yml
  when: not nagios_plugins_installed.stat.exists

- name: Include SMTP Configuration
  ansible.builtin.include_tasks: smtp_configuration.yml

- name: Include Deploy Config
  ansible.builtin.include_tasks: deploy_config.yml
