{% if zone.records_ptr is defined %}
$ORIGIN {{ zone.name }}.
{% endif %}
$TTL	{{ bind_zone_config.ttl }}
@	IN	SOA {{ bind_zone_config.ns }} {{ bind_zone_config.root }} (
                    {{ bind_zone_config.serial }}		; Serial
                    {{ bind_zone_config.refresh }}      ; refresh after 6 hours
                    {{ bind_zone_config.retry}}       ; retry after 1 hour
                    {{ bind_zone_config.expire }}     ; expire after 1 week
                    {{ bind_zone_config.ttl }} )    ; minimum TTL of 1 day
; NS
{% for ns in bind_zone_config.nameservers %}
    IN  NS   {{ ns.address }}
{% endfor %}

; NS A
{% for ns in bind_zone_config.nameservers %}
{{ ns.ip_address }}    IN  PTR  {{ ns.address }}
{% endfor %}

; NS A
{% for ns in bind_zone_config.nameservers %}
ns    IN  PTR  {{ ns.ip_address }}
{% endfor %}

; NS PTR
{% for ns in bind_zone_config.nameservers %}
{{ ns.address }}    IN  A   {{ ns.ip_address }}
{% endfor %}
