# ZED configuration - managed by Ansible
ZED_EMAIL_ADDR="{{ storage_server_zfs.zed.email }}"
ZED_EMAIL_PROG="ssmtp"
ZED_EMAIL_OPTS="-F '{{ inventory_hostname }}' @ADDRESS@"

ZED_NOTIFY_INTERVAL_SECS={{ storage_server_zfs.zed.notify_interval_secs | default(3600) }}
ZED_NOTIFY_VERBOSE={{ storage_server_zfs.zed.notify_verbose | default(0) }}

ZED_EMAIL_VERBOSE={{ storage_server_zfs.zed.email_verbose | default(1)}}

ZED_USE_ENCLOSURE_LEDS=1
ZED_SCRUB_AFTER_RESILVER=0
