{
    "auths": {
            "ghcr.io": {
                    "auth": "{{ docker_github_auth.pat }}"
            },
            "gitea.internal.epichouse.co.uk": {
                    "auth": "{{ docker_gitea_auth.pat }}"
            }
    }
}