- name: ISC | Package Installation
  become: true
  ansible.builtin.apt:
    pkg:
      - isc-dhcp-server

- name: ISC | Render Config File
  ansible.builtin.template:
    src: "{{ config_path }}/dhcpd.conf.j2"
    dest: "/etc/dhcp/dhcpd.conf"
    owner: root
    group: root
    mode: '0644'
  become: true
  notify: Restart Service
