- name: Bind Package Installation
  become: true
  ansible.builtin.apt:
    pkg: bind9
- name: UFW Firewall Configuration
  community.general.ufw:
    rule: allow
    port: '53'
  become: true
  when: ansible_facts['distribution'] == "Ubuntu"
- name: Install Prerequisits on Ansible Host
  ansible.builtin.apt:
    pkg: python3-dnspython
  become: true
  delegate_to: localhost
- name: Copy Bind Config File
  ansible.builtin.copy:
    src: "{{ config_path }}/named.conf"
    dest: "/etc/bind/named.conf"
    owner: root
    group: bind
    mode: '0644'
  become: true
  no_log: true
  notify: Config Change
- name: Create Zones Directory
  ansible.builtin.file:
    path: /etc/bind/zones
    state: directory
    owner: root
    group: bind
    mode: '0755'
  become: true
- name: Get Zones
  ansible.builtin.shell: ls "{{ config_path }}/zones" | sed 's/\.[^.]*$//' | sed 's/\.[^.]*$//'
  register: zones
  delegate_to: localhost
  become: true
  changed_when: false
- name: Render Zone Files
  ansible.builtin.template:
    src: "{{ config_path }}/zones/{{ item }}.j2"
    dest: "/etc/bind"
    owner: root
    group: bind
    mode: '0644'
#  no_log: true
  become: true
  with_items: "{{ zones.stdout_lines }}"
- name: RNDC Reload
  ansible.builtin.command: rndc reload
  become: true
  changed_when: false
- name: Clear Cache
  ansible.builtin.command: resolvectl flush-caches
  become: true
  changed_when: false
- name: Test Name Resolution
  ansible.builtin.command: "nslookup {{ item.address }}"
  delegate_to: localhost
  changed_when: false
  register: testresults
  with_items: "{{ tests }}"
