# Config file for sSMTP sendmail

root=postmaster

# The place where the mail goes. The actual machine name is required no
# MX records are consulted. Commonly mailhosts are named mail.domain.com
mailhub=mail

# Where will the mail seem to come from?
#rewriteDomain=

# The full hostname
hostname={{ inventory_hostname }}

root={{ inventory_hostname }}
server={{ cron_alerting.smtp_server }}
UseSTARTTLS=YES
FromLineOverride=YES
AuthUser={{ cron_alerting.smtp_user }}
AuthPass={{ cron_alerting.smtp_password }}
mailhub={{ cron_alerting.smtp_server }}:587
rewritedomain=epichouse.co.uk
hostname={{ inventory_hostname }}