- name: Terraform | Add APT GPG Key
  ansible.builtin.apt_key:
    url: https://apt.releases.hashicorp.com/gpg
    keyring: /usr/share/keyrings/hashicorp-archive-keyring.gpg
  become: true
- name: Terraform | Add APT Repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com jammy main"
    state: present
    filename: hashicorp
  become: true
  notify: Update APT Cache
- name: Terraform | Install
  become: true
  ansible.builtin.apt:
    pkg: terraform
- name: Terraform | Check for tf-summarize binary
  ansible.builtin.stat:
    path: ~/go/bin/tf-summarize
  register: tf_summarize
- name: Terraform | Install tf-summarize
  ansible.builtin.command:
    cmd: go install github.com/dineshba/tf-summarize@latest
  when: not tf_summarize.stat.exists
  changed_when: not tf_summarize.stat.exists
- name: Terraform | Copy tf-summarize binary
  ansible.builtin.copy:
    src: ~/go/bin/tf-summarize
    dest: /usr/local/bin/tf-summarize
    mode: '0755'
    owner: root
    group: root
