- name: Check Configuration
  ansible.builtin.command: named-checkconf
  become: true
  changed_when: false
  listen:
    - Config Change
- name: Restart Service
  ansible.builtin.systemd_service:
    name: named.service
    state: restarted
  become: true
  changed_when: false
  listen:
    - Config Change
