{
    "auths": {
            "ghcr.io": {
                    "auth": "{{ docker_github_auth.pat }}"
            },
            "gitea.epichouse.co.uk": {
                    "auth": "{{ docker_gitea_auth.pat }}"
            }
    }
}
# TODO: Move this to application deployment repo per server