- name: Restart Service
  ansible.builtin.systemd_service:
    name: isc-dhcp-server.service
    state: restarted
  become: true
  changed_when: false
- name: Daemon Reload
  ansible.builtin.systemd_service:
    daemon_reload: true
  become: true
  changed_when: false
