- name: SSH | Cache Public SSH Key
  ansible.builtin.set_fact:
    global_user_public_ssh_key: "{{ global_user_public_ssh_key }}"
  delegate_to: localhost
  run_once: true

- name: SSH | Cache Private SSH Key
  ansible.builtin.set_fact:
    global_user_private_ssh_key: "{{ global_user_private_ssh_key }}"
  delegate_to: localhost
  run_once: true


- name: SSH | Set Public Key
  ansible.builtin.copy:
    content: "{{ global_user_public_ssh_key }}"
    dest: "{{ item.dir }}/.ssh/id_rsa.pub"
    mode: '0644'
    owner: "{{ item.user }}"
    group: "{{ item.user }}"
  with_items:
    - user: "{{ ansible_env.USER }}"
      dir: "/home/{{ ansible_env.USER }}"
    - user: "root"
      dir: "/root"
  become: true

- name: SSH | Set Private Key
  ansible.builtin.copy:
    content: "{{ global_user_private_ssh_key }}"
    dest: "{{ item.dir }}/.ssh/id_rsa"
    mode: '0600'
    owner: "{{ item.user }}"
    group: "{{ item.user }}"
  with_items:
    - user: "{{ ansible_env.USER }}"
      dir: "/home/{{ ansible_env.USER }}"
    - user: "root"
      dir: "/root"
  become: true

- name: SSH | Populate Config (user)
  ansible.builtin.lineinfile:
    path: "{{ item.dir }}/.ssh/config"
    line: "Host * StrictHostKeyChecking no"
    mode: '0755'
    create: true
  with_items:
    - user: "{{ ansible_env.USER }}"
      dir: "/home/{{ ansible_env.USER }}"
    - user: "root"
      dir: "/root"
  become: true