- name: SSH | Set Public Key
  ansible.builtin.copy:
    content: "{{ global_user_public_ssh_key }}"
    dest: "{{ item.dir }}/.ssh/id_rsa.pub"
    mode: '0644'
    owner: "{{ item.user }}"
    group: "{{ item.user }}"
  with_items:
    - user: "{{ ansible_user }}"
      dir: "/home/{{ ansible_user }}"
    - user: "root"
      dir: "/root"
  become: true

- name: SSH | Set Private Key
  ansible.builtin.copy:
    content: "{{ global_user_private_ssh_key }}"
    dest: "{{ item.dir }}/.ssh/id_rsa"
    mode: '0600'
    owner: "{{ item.user }}"
    group: "{{ item.user }}"
  with_items:
    - user: "{{ ansible_user }}"
      dir: "/home/{{ ansible_user }}"
    - user: "root"
      dir: "/root"
  become: true

- name: SSH | Populate Config (user)
  ansible.builtin.lineinfile:
    path: ~/.ssh/config
    line: "{{ item }}"
    mode: '0755'
    create: true
  with_items: "{{ ssh_config }}"
- name: SSH | Populate Config (root)
  ansible.builtin.lineinfile:
    path: /root/.ssh/config
    line: "{{ item }}"
    mode: '0755'
    create: true
  with_items: "{{ ssh_config }}"
  become: true
  when: global_user_configure_root_user
