- name: LetsEncrypt | Install Packages
  become: true
  ansible.builtin.apt:
    pkg: "{{ packages }}"

- name: LetsEncrypt | Download ACME DNS Challenge Script
  ansible.builtin.uri:
    url: https://raw.githubusercontent.com/alanmburr/acme-dns-certbot/refs/heads/master/acme-dns-auth.py
    dest: /etc/letsencrypt/acme-dns-auth.py
    mode: '0755'

- name: LetsEncrypt | Check for existing certicficates
  ansible.builtin.stat:
    path: "/etc/letsencrypt/live/{{ item }}/fullchain.pem"
  register: certificate
  with_items: "{{ letsencrypt_certificates }}"

- name: LetsEncrypt | Configure Letsencrypt Cloudflare Credentials
  ansible.builtin.lineinfile:
    path: /etc/letsencrypt/auth.ini
    line: "dns_cloudflare_api_token = {{ letsencrypt_cloudflare_api_token }}"
    regexp: "dns_cloudflare_api_token = "
    create: true
    mode: '0600'
  no_log: true

- name: LetsEncrypt | Generate Certificate
  ansible.builtin.shell: >
    certbot certonly
    --preferred-challenges dns
    --debug-challenges
    -d {{ item }}
    --non-interactive
    --agree-tos
    -m {{ letsencrypt_email }}
    --dns-cloudflare-credentials /etc/letsencrypt/auth.ini
    --dns-cloudflare
    --dns-cloudflare-propagation-seconds 60
  when: not certificate.results.[item].stat.exists
  with_items: "{{ letsencrypt_certificates }}"
