- name: LetsEncrypt - Install Packages
  become: true
  ansible.builtin.apt:
    pkg:
      - certbot 
      - python3-certbot-dns-cloudflare
      - python3-certbot-nginx
- name: LetsEncrypt - Copy ACME DNS Challenge Script
  ansible.builtin.copy:
    src: acme-dns-auth.py
    dest: /etc/letsencrypt/acme-dns-auth.py
    mode: '0755'
  become: true
- name: LetsEncrypt - Check if Cert Exists
  ansible.builtin.stat:
    path: /etc/letsencrypt/live/internal.epichouse.co.uk/fullchain.pem
  register: certificate
  become: true
- name: LetsEncrypt - Configure Letsencrypt Cloudflare Credentials
  ansible.builtin.lineinfile:
    path: /etc/letsencrypt/auth.ini
    line: "{{ item }}"
    regexp: "{{ item }}"
    create: true
    mode: '0600'
  with_items:
    - dns_cloudflare_api_token = "{{ cloudflare_api_token }}"
  become: true
- name: LetsEncrypt - Generate Certificate
  ansible.builtin.shell: certbot certonly --preferred-challenges dns --debug-challenges -d \*.internal.epichouse.co.uk --non-interactive --agree-tos -m "{{vault.global.email.dan}}"  --dns-cloudflare-credentials /etc/letsencrypt/auth.ini --dns-cloudflare
  when: not certificate.stat.exists
  become: true
  notify:
    - Reload Web
