- name: Add Cloudflare APT key
  ansible.builtin.apt_key:
    url: "https://pkg.cloudflare.com/cloudflare-main.gpg"
    keyring: /usr/share/keyrings/cloudflare-main.gpg
  become: true
- name: Add Cloudflare APT repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/cloudflare-main.gpg] https://pkg.cloudflare.com/cloudflared noble main"
    state: present
  become: true

- name: Update APT cache
  ansible.builtin.apt:
    update_cache: true
  become: true

- name: Install cloudflared
  ansible.builtin.apt:
    name: cloudflared
    state: present
  become: true

- name: Populate service facts
  ansible.builtin.service_facts:
  register: services

- name: Configure Runner
  ansible.builtin.command: cloudflared service install {{ runner_token }}
  become: true
  changed_when: install.changed
  when: not 'cloudflared' in services
